In [1]:
import pandas as pd

In [7]:
pd.read_csv('../data/dj30/DJI_labeled_3_24.csv').head()

,Unnamed: 0,date,tic,open,high,low,close,adjcp,Volume,pct_return,adjcp_filtered,pct_return_filtered,label,stock_type
0,0,2000-01-03,DJI,11501.849609,11522.009766,11305.690430,11357.509766,11357.509766,169750000,0.000000,11357.564298,-0.000046,0,0
1,1,2000-01-04,DJI,11349.750000,11350.059570,10986.450195,10997.929688,10997.929688,178420000,-0.031660,11242.991709,0.002442,0,0
2,2,2000-01-05,DJI,10989.370117,11215.099609,10938.669922,11122.650391,11122.650391,203190000,0.011340,11198.391178,0.004607,0,0
3,3,2000-01-06,DJI,11113.370117,11313.450195,11098.450195,11253.259766,11253.259766,176550000,0.011743,11248.024222,0.006150,0,0
4,4,2000-01-07,DJI,11247.059570,11528.139648,11239.919922,11522.559570,11522.559570,184900000,0.023931,11361.702549,0.006853,0,0

In [9]:
DJI=pd.read_csv('../data/dj30/DJI_labeled_3_24.csv').loc[:,['date','label']]
test=pd.read_csv('../data/dj30/test.csv')

In [10]:
merged=test.merge(DJI,on='date')